body {
  font-family: "Outfit", sans-serif;
  width: 1440px;
  padding-top: 50px;
  display: flex;
  background-color: hsl(217, 54%, 11%);
}

.box {
  background-color: hsl(216, 50%, 16%);
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.3), 0 8px 25px 0 rgba(0, 0, 0, 0.19);
  width: 300px;
  margin: auto;
  padding: 22px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.item {
  width: 100%;
}

.images1 {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
